body {
    cursor: url('./assets/paint-brush-svg'), pointer;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    border-radius: 20px;
    cursor: url('./assets/paint-brush-svg.svg'), pointer;
}

.color-picker {
    width: 10px;
    height: 50%;
    margin: 2%;
    padding: 2%;
    display: inline-block;
    border-radius: 20%;
}

.color-picker-container {
    width: 100%;
    height: 50%;
    background-color: aquamarine;
    border-radius: 5%;
}



/* .grid-squares {
    z-index: "relative";
    padding: 2px;
    margin: 2px;
   
}

.grid {
    display: grid;
    grid-template-columns: 55rem 7rem 7rem 7rem;
    grid-template-rows: 7rem 7rem;
    grid-template-areas: 
    "s1 s2 s3"
    "s1 s2 s4"
}

.s1 {
    grid-area: s1;
    background-color: white;
    margin: 2px;
    border: 5px solid black;
    border-width: 2px;
}

.s2 {
    grid-area: s2;
    background-color: white;
    margin: 2px;
    border: 5px solid black;
    border-width: 2px;
}

.s3 {
    grid-area: s3;
    background-color: white;
    margin: 2px;
    border: 5px solid black;
    border-width: 2px;

}

.s4 {
    grid-area: s4;
    background-color: white;
    margin: 2px;
    border: 5px solid black;
    border-width: 2px;

}

.color-pallete {
    border: 5px solid black;
    border-width: 2px;
    margin: 2px;
    background-color: white;
}

.change-to-blue {
    background-color: blue;
} */

